

body{
  overflow: hidden;
  margin-top: 2vh;
}
.grid{
  height: 98vh;
  overflow-y: hidden;
}

/* .column{
  max-width: 450px;
} */

#chatbox{
  margin: auto;
  padding: 0;
  background-color: white;
  width: 45vw;
  height: 100vh; 
  overflow-y: hidden;
}

#messageList{ 
  max-width: 100%;
  width: 100%;
  height: 87vh;
  max-height: 87vh;
  overflow-y: auto;
  background-color: white;
}

.self{
  background-color: rgba(0, 200, 100, 0.3);
  padding: 1px;
  border-radius: 5px;
}





