

body{
  overflow: hidden;
  margin-top: 2vh;
  background-color: whitesmoke;
}
.grid{
  height: 98vh;
  overflow-y: hidden;
}

/* .column{
  max-width: 450px;
} */

#chatbox{
  margin: auto;
  padding: 0;
  width: 45vw;
  height: 100vh; 
  overflow-y: hidden;
}

#messageList{ 
  max-width: 100%;
  width: 100%;
  height: 87vh;
  max-height: 87vh;
  overflow-y: auto;
}

.self{
  padding: 1px;
  margin: 0px;
  background-color: rgba(0,0,255,0.1);
}

.other{
  padding: 1px;
  margin: 0px;
  /* background-color: lightgray; */
}





